**/*.nc
**/*ipynb_checkpoints
**/*.log
**/*nohup.out
**/*.png
**/Untitled*.ipynb
**/.snakemake
pilot/resources/climatic/*/CY*
pilot/resources/climatic/*/raw
pilot/resources/PEMMDB/TY*
pilot/resources/climatic/PECD/TY*
pilot/resources/raw/*
